{{#extends "base"}}

{{#block "content"}}
<h1>Confirm Delete</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{customer.first_name}} {{customer.last_name}}?
        <div>
            <a href="/customers" class="btn btn-success">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete"/>
        </div>
    
    </div>
</form>
{{/block}}

{{/extends}}