{{#extends "base"}}

{{#block "title"}}Delete Customer{{/block}}

{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{customer.first_name}} {{customer.last_name}}
        <div>
            <input type="submit" value="Confirm" class="btn btn-danger"/>
            <a href="/customers" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

{{/block}}

{{/extends}}